# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

thumbs.db
Thumbs.db

.htaccess
wp-config.php
wp-content/uploads/*
